*{
    background-color: rgba(0, 0, 0, 0.171);
    margin: 0%;
    padding: 0%;
}
                /* Navbar */
nav{
    display: grid;
    grid-template-columns: auto auto auto;
}
nav .logo{
    width: 64%;
}
nav button{
    margin: 18% 0%  0% -104%;
    padding: 7% 30%;
    text-align: left;
    z-index: 2;
}
}
nav h2{
    margin: 25%  0% 0% 60%;
}
nav #plus {
    position: absolute;
    margin: 10% 0 10% 93%; 
    width: 10%;
    z-index: 3;
    right: 50
px
;
}